In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")

In [3]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [4]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [7]:
from sklearn.compose import ColumnTransformer

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
CT = ColumnTransformer([('OHE',OneHotEncoder(drop='first'),['Gender'])],remainder = 'passthrough')

In [10]:
data = CT.fit_transform(data)

In [11]:
X = data[:,1:4]
Y = data[:,-1]

In [12]:
Y.shape

(400,)

In [13]:
Y = Y.reshape(Y.shape[0],1)

In [14]:
Y.shape

(400, 1)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()

In [17]:
X = sc.fit_transform(X)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size = 0.2,random_state = 23)

In [20]:
from sklearn.svm import SVC

In [53]:
model = SVC(kernel ='linear',random_state = 0)

In [54]:
model.fit(X_train,Y_train)

C:\Users\Admin\anaconda4\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear', random_state=0)

In [55]:
Y_pred = model.predict(X_test)

In [56]:
from sklearn.metrics import confusion_matrix

In [57]:
cm = confusion_matrix(Y_pred,Y_test)

In [58]:
print(cm)

[[46 12]
 [ 4 18]]

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
score = accuracy_score(Y_pred,Y_test)

In [61]:
print(score)

0.8